main>.container {
    padding: 60px 15px 0;
}

body {
    background: linear-gradient(180deg, #000207 0%, #003963 100%);
    color: #FFF;
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    min-height: 50px;
    background: "none";
}

header {
    display: grid;
}

#footer-logo {
    width: 2rem;
}

#header-logo {
    width: 11rem;
}

.center {
    text-align: center;
}

ul {
    list-style: square;
}

#video-demo {
    width: 50%;
    padding: 2rem;
}

.right {
    float: right;
}

.play-now {
    margin: 1rem;
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    font-size: 20px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    padding: 4px 15px;
    border-radius: 2px;
    text-decoration: none;
}

#description-1 {
    font-size: 19px;
}